body {
  min-height: 750px;
  padding-top: 300px;
  background: #2B2B2B;
  color: #F6F6F6;
}

h1 {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  font-size: 50px;
}

p {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
}

/* navbar */

.navbar .nav,
.navbar .nav > li {
  float: none;
  display: inline-block;
  vertical-align: top;
  background: #F6F6F6;
}

.navbar {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif;
  color: #2B2B2B;
  text-align: center;
  font-size: x-large;
}

.navbar .fa {
  color: #DE1B1B;
  font-size: 100px;
}

.navbar h1 {
  text-transform: uppercase;
  text-shadow: 2px 2px #E9E581;
  font-size: 75px;
  margin: 0;
}

.navbar p {
  text-align: center;
  font-size: small;
  padding-bottom: 5px;
  border-bottom: 3px solid #DE1B1B;
  text-decoration: none;
}

/* left column */

.left-column {
  text-align: center;
}

.left-column input {
  color: #2B2B2B;
}

.left-column button {
  margin-right: 5px;
  color: #2B2B2B;
}

/* right column */

#rankings {
  margin-top: 50px;
}

li {
  display: block;
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  font-size: 25px;
}

/* bootstrap button default override */

.btn {
  padding: 5px;
  border: 0 none;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
  outline: 0 none;
}

.btn-primary {
  background: #606364;
  color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background: #606364;
}

.btn-primary:active, .btn-primary.active {
  background: #606364;
  box-shadow: none;
}

/* outline button specific */

.btn.outline {
  background: #606364;
  padding: 10px;
}

.btn-primary.outline {
  color: #F6F6F6;
}
